<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <mat-card id="authDialog" fxLayout="column" style="padding: 16px;padding-top: 0" class="mat-elevation-z2">
        <form [formGroup]="loginFormGroup" fxLayout="column" novalidate style="min-width: 250px" autocomplete="off">
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="formControl" src="assets/images/mark_billa.jpg" />
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <h4>Cotton Business :)</h4>
            </div>
            <div fxLayout="column" title="User Name">
                <mat-label>User Name</mat-label>
                <mat-form-field>
                    <input matInput formControlName="userName" required autocomplete="off">
                    <mat-error *ngIf="loginFormGroup.controls.userName?.errors?.required">This field is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" style="margin-top:10px;" title="Password">
                <mat-label>Password</mat-label>
                <mat-form-field>
                    <input matInput formControlName="password" type="password" required autocomplete="off">
                    <mat-error *ngIf="loginFormGroup.controls.password?.errors?.required">This field is required.</mat-error>
                </mat-form-field>
                <mat-error *ngIf="loginError">{{messageString}}</mat-error>
            </div>
            <div fxLayout="row" fxFlex style="margin-top:20px;padding-bottom: 5px;" fxLayoutAlign="center center">
                <button mat-raised-button fxFlex color="primary" type="submit" (click)="login()">LOGIN</button>
            </div>
            <div fxLayout="row" fxFlex style="margin-top:5px;padding-bottom: 5px;" fxLayoutAlign="center center">
                <p>If you are new user, click <b style="color: blue;cursor: pointer;" [routerLink]="['**']">here </b> to register</p>
            </div>
            <div fxLayout="row" fxFlex style="margin-top:5px;padding-bottom: 5px;" fxLayoutAlign="center center">
                <p>copy rights@Mark Billa</p>
            </div>
        </form>

        <!-- <p *ngIf="userAccess()" style="margin-top:20px;color: red;border: red;text-align: center;">User has no access to application. Please contact administrator</p> -->
        <!-- <p *ngIf="invalidUser()" style="margin-top:20px;color: red;border: red;text-align: center;">Invalid username or password. </p> -->
        <!-- <div class="error-message" *ngIf="invalidUser()">
            <span class="error-text">Invalid username or password</span>
        </div>
        <div class="error-message" *ngIf="userAccess()">
            <span class="error-text">User has no access to application. Please contact administrator</span>
        </div> -->
    </mat-card>
</div>
